@{
    Layout = null; // Si no estás utilizando un layout
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <title>Iniciar Sesión</title>
</head>
<body>
    @RenderBody()
</body>
</html>
