html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Centra el contenido en la pantalla y ajusta el ancho */
.centered-form {
  display: flex;
  justify-content: center;
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
}

.form-container {
  width: 70%; /* Ocupa el 70% del ancho de la pantalla */
  max-width: 800px; /* Opcional: establece un ancho máximo */
}